.header{
    position: fixed;
    display: flex;
    
    box-sizing: border-box;
    width: 100%;
    

    background: #1AB357;
    flex-direction: column;
    color: #FFF;
    font-family: 'JosefinSans';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@media screen and (max-width: 580px){
    .header{
        font-size: 12px;
    }
}

.head-div{
    display: flex;
    width: 100%;
        padding: 10px 40px;
        align-items: center;
        gap: 20px;
}

.sd-logo{
    height: 40px;
}

.nav-bar{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    flex: 1 0 0;
    align-self: stretch;
}

.nav-link{
    color: #FFF;
    font-family: 'JosefinSans';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
    
}

.nav-link:hover{
    /* text-decoration: underline; */
    border-bottom-style: solid;
    border-bottom-width: 2px;
    color: #FFF;
}

.caret{
    display: none;
    width: 16px;
        height: 16px;

    fill: #fff;
}

.cv-button{
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border-radius: 10px;
    background: #1A3CB3;

    color: #FFF;
    white-space: nowrap;
}

.link-overflow{
    display: none;
        width: 100%;
        flex-direction: column;
        
}

.link-overflow-item{

    display: flex;
    width: 100%;
    padding: 10px 0px;
        justify-content: center;
        align-items: flex-end;
        gap: 10px;
    
        border-top: 1px solid #C5C5C5;
        

    
}


@media screen and (max-width: 700px) {
    #hobbies{
        display: none;
    }

    .caret{
        display: inline-block;
    }
}

@media screen and (max-width: 660px) {
    #contact {
        display: none;
    }
}

@media screen and (max-width: 580px) {
    
    .head-div{
        display: flex;
            padding: 10px;
            align-items: center;
            gap: 10px;
    }

    .nav-bar{
        gap: 10px;
    }

    .sd-logo{
        width: 54.545px;
            height: 30px;
    }    

    .nav-link{
        font-size: 12px;
    }

    .caret{
        height: 12px;
        width: 12px;
    }

    .cv-button{
        padding: 8px;
        border-radius: 6px;
        font-size: 12px;
    }
}

@media screen and (max-width: 359px) {
    #projects{
        display: none;
    }
}